.nav-bar{
	background-color: blue;
	height: 45px;
	width: 980px;
	margin-bottom: 20px;
}

.header{
	background-color: blue;
	height: 200px;
	width: 980px;
	margin-bottom: 30px;

}

.body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.body div{
	background-color: blue;
	height: 200px;
	width: 300px;
	margin-right: 40px;
}

.footer{
	background-color: blue;
	height: 60px;
	width: 980px;
	margin-top: 30px;
}